---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for publication in site.data.cv.publications reversed %}
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h3>{{ publication.name }}</h3>
    <p class="page__date">{{ publication.releaseDate }}{% if publication.publisher %}, {{ publication.publisher }}{% endif %}</p>
    {% if publication.summary %}
      <p class="archive__item-excerpt">{{ publication.summary }}</p>
    {% endif %}
    {% if publication.website %}
      <p><a href="{{ publication.website }}">View publication</a></p>
    {% endif %}
  </article>
{% endfor %}
